

            <!-- Footer -->
              <section id="footer">
                <ul class="icons">
                  <li><a href="mailto:{{site.author.email}}" class="fa-envelope"><span class="label">Email</span></a></li>
                  <li><a href="https://www.linkedin.com/in/nicolas-castro-91b023137/" class="fa-linkedin-square"><span class="label">LinkedIn</span></a></li>
                  <li><a href="https://github.com/{{site.author.github_username}}" class="fa-github"><span class="label">GitHub</span></a></li>                
                </ul>
                <p class="copyright">&copy;Nicolás Castro, 2018.</p>
                <p class="copyright">&copy; Kapitonenko.</p>
