<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% if page.keywords %}
  <meta name="keywords" content="{{ page.keywords }}">
  {% endif %}
  <meta name="robots" content="all"/>
  <meta name="author" content="{{ site.author.name }}">
  <!--Custom fonts. To improve load times, remove this and update the h1 styling in style.css--> 
  <link href='http://fonts.googleapis.com/css?family=Lato:300,700' rel='stylesheet' type='text/css'>
  <!-- stylesheets -->
  <meta name="description" content="{{ page.excerpt | default: site.description | strip_html | normalize_whitespace | truncate: 160 | escape }}">

  {% capture blogtitle %}{{page.title}}{%endcapture%}
  <title>{% if blogtitle %}{{ blogtitle | escape }}{% else %}{{ "N.Castro" | escape }}{% endif %}</title>
  
  <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | absolute_url }}">
  <link rel="shortcut icon" href="{{ "/images/favicon.ico" | prepend: site.baseurl }}" type="image/x-icon">
  <link rel="stylesheet" href="{{"/assets/css/animate.css" | prepend: site.baseurl}}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="{{"/assets/js/jquery.min.js" | prepend: site.baseurl}}"></script>
</head>
<style > 
  body {
    font: 100% sans-serif;
    margin: 0em;
    color: #666;
  }

  h1, h2, h3, p, li {
    font-family: 'Lato', sans-serif;
    font-weight: 200;
  }

  p, li, ul {
    font-family: 'Lato', sans-serif;
    font-weight: 500;
  }

  a:focus,
  a:hover {
  color: #6594e0;
}
</style>
