          <!-- About -->
          <section id="sidebar">
            <section id="intro">
              <a href="{{site.author.cv}}" class="logo"><img src="{{site.author.logo | prepend: site.baseurl}}" alt="" /></a>
              <header>
                <h2>Keep <br>Thinking</h2>
                <p>By <a href="{{site.author.cv}}">{{site.author.name}}</a></p>
              </header>
            </section>
            <section class="blurb">
              <h2>About this site</h2>
              <p>{{ site.description }}</p>
            </section>             
      
          <section id="footer">
                <ul class="icons">
                  <li><a href="mailto:{{site.author.email}}" class="fa-envelope"><span class="label">Email</span></a></li>
                  <li><a href="https://www.linkedin.com/in/nicolas-castro-91b023137/" class="fa-linkedin-square"><span class="label">LinkedIn</span></a></li>
                  <li><a href="https://github.com/{{site.author.github_username}}" class="fa-github"><span class="label">GitHub</span></a></li>                
                </ul>
                <p class="copyright">&copy;Nicolás Castro, 2018.</p>
              </section>
          </section>