---
layout: compress
---
<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"><!--<![endif]-->
<head>
    {% include head.html %}
</head>
<body>
    {% include nav.html %}
    <!-- Header -->
    <header class="header" role="banner">
        <div class="wrapper animated fadeIn">
            <a href="{{ site.url }}">
                <img src="{{ site.logo }}" class="img-circle zoombtn animated rotateIn">
            </a>
            <h3 class="title">
                <a class="zoombtn" href="{{ site.url }}">
                	<p style="font-size:1.2rem;font-weight:300">{{ site.title }}</p>
			    </a>
            </h3>
            <h3 class="title">
                <a href="{{ site.url }}">
                	<p style="font-size:1rem;font-weight:300">{{ site.bio }}</p>
			    </a>
            </h3>
            <hr class="hr-line">
            <h3 class="title">
                   <a class="btn zoombtn" href="{{ site.url }}/about"> About </a>
                {% for tag in site.data.navigation %}
                    <a class="btn zoombtn" href="{{ tag.href | prepend: site.baseurl}}"> {{tag.name | capitalize}} </a>
                {%endfor%}
             </h3>
             <hr class="hr-line">
        <div>
    </header>

    <div class="wrapper animated fadeIn">
        <div class="post-list">
           {% for post in site.posts %}
                <ul>
                    <li>
                        <a class="zoombtn" href="{{ site.url }}{{ post.url }}">{{ post.title }}</a>
                        <p>{{ post.excerpt }}</p>
                    </li>
                    <li>
                        {% if post.image %}
                            <a href="{{ post.url | relative_url }}" class="image featured"><img src="/imgs/{{ post.category }}/{{ post.image }}" alt="{{ post.title }}"></a>
                        {% endif %}
                    </li>
                    <li>
                        <a href="{{ site.url }}{{ post.url }}" class="btn zoombtn">Read More</a>
                    </li>
                </ul>
                <hr class="hr-line">
            {% endfor %}
        </div>

        {% include social-links.html %}
        <hr class="hr-line">
    </div>

    {% include scripts.html %}
</body>
</html>
